/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
}

l {
font-family: 'Source Sans Pro', sans-serif;
list-style-type: none;
display: flex;
margin: 1rem;
}

li {
  margin: 1rem;
  align-content: center;
}

h1 {
font-family: 'Source Sans Pro', sans-serif;
}

h2 {
font-family: 'Source Sans Pro', sans-serif;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
}

p {
font-family: 'Source Sans Pro', sans-serif;
}

#quotesSlide {
  font-style: italic;
}
